<!--  
 
<table class="food-table">
    <tr *ngFor="let item of roodItems">
        <td>
    <img [src]="item" alt="User Avatar" style="width: 100px; height: 100px">
    </td>
    </tr>
</table>

  -->

<main class="main-content my-gap"> 
  <div class="restaurant-grid">

    <div class="restaurant-card"  *ngFor="let restaurant of restaurantList" >
      <!-- <div class="restaurant-image" >  
        <img [src]="restaurant" alt="User Avatar" style="width: 100px; height: 100px">
      </div> -->
      <div class="restaurant-details">
        <h3 class="restaurant-name">
        {{ restaurant.name}},  {{ restaurant.address}},  {{ restaurant.city}}
        </h3>
        <div class="restaurant-rating">
          <span class="rating"></span><i class="fa fa-star"> 4.5</i>
            <span class="rating-count">500</span>
        </div>
       <button class="order-btn" (click)="orderNow(restaurant.id)" style="height: 5%; width:25%;">
        Order Now
       </button>

      </div>
    </div>

  </div>
</main>