<div class="order-summary">
  <h1>Order Summary</h1>
  <table>
    <thead>
      <tr>
        <th>Item</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      @for (item of selectedFoodItems; track item) {
        <tr>
          <td>{{ item.itemName }}</td>
          <td>{{ item.quantity }}</td>
          <td>&#x20b9; {{ item.price }}</td>
        </tr>
      }
    </tbody>
    <tfoot>
      <tr>
        <td colspan="2">Total</td>
        <td>&#x20b9; {{  getTotalPrice() }}</td>
      </tr>
    </tfoot>
  </table>
  @if ((showHideOrderButtons)) {
    <button class="checkout-button"  (click)="saveOrderDataFromInput()">Place Order</button>
  }
  &nbsp;&nbsp;&nbsp;@if ((!showHideOrderButtons)) {
  <button class="checkout-button" (click)="placeAnotherOrder() ">Place another order</button>
}
</div>
@if (showDialog) {
  <div class="dialog-container">
    <div class="dialog-box">
      <h2>Order Placed!</h2>
      <p>Your order has been successfully placed.</p>
      <button class="close-button" (click)="closeDialog()">Close</button>
    </div>
  </div>
}
